body {
  margin: 0%;
}
img {
  width: 200px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #31344d;
}

.button1 {
  background-color: #31344d;
  color: #8D99AE;
  border: 0px;
  margin: 10px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.button2 {
  background-color: #31344d;
  color: #8D99AE;
  border: 0px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  
}
.button3 {
  background-color: #31344d;
  color: #8D99AE;
  border: 0px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
.button4 {
  background-color: #31344d;
  color: #8D99AE;
  border: 0px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
