* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}


/* navbar */
header {
  width: 100%;
  align-items: center;
  padding: 0.5rem;
  background-color: #415a77c9;
  color: #edf2f4;
  position: sticky;
  top: 0%;
}


#logo {
  width: 20vh;
  padding-right: 3rem;
  
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  color: #edf2f4;
  border: 0px;
  margin: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  list-style-type: none;
}

li {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

div nav ul li a:hover {
  background-color: #2B2D42 ;
  padding: 15px;
  margin: 15px;
  border-radius: 30%;
}
/*fondo*/
body {
  background-image: url(fondo.jpg);
}

.intro {
  display: flex;
  margin-top: 1rem;
  box-sizing: content-box;
  background-color: #415a77;
  width: 90%;
  margin: 5rem;
  margin-top: 5rem;
  padding-right: 2rem;
  padding-top: 2rem;

}

h2 {
  padding: 1rem;
  padding-bottom: 1.5rem;
  margin: auto;
  text-align: center;
  font-size: 30px;
  color: #edf2f4;
}
h2:hover {
  background-color: #2B2D42;
  color: #415a77;
  -webkit-text-stroke: 0.3px #edf2f4;
  border-radius: 100%;
}

.text-p {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  margin: 1rem;
  background-color: #415a77;
  color: #edf2f4;
}

#parrafo {
  text-align: center;
  text-justify: auto;
  color: #edf2f4;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* button*/

.button {
  margin: 0px 10px ;
  padding: 10px;
}

#bt1 {
  cursor: pointer;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
}

#bt1:hover {
  background-color: #2B2D42;
  color: #415a77;
  
}


#donenc {
  color: #edf2f4;
  text-decoration: none;
  text-decoration: underline;
  font-size: 1.5rem;
}


/* intro imagen*/

.img-art {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img1 {
  width: 650px;
  margin: 10px 5px 10px 5px;
}

#img2 {
  width: 650px;
  margin: 10px 5px 10px 5px;
  max-width: 100%;
}

/* descrition-section*/

.descrition-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0;
  background-color: #415a77;
  width: auto;
  padding: 3rem 2rem;
  margin: 3rem 2rem;
}


  

.cards__container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  max-width: 90%;
 
}

/* carts*/
.carts {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: .5rem 5rem;
}

.carts p {
  display: flex;
  font-size: 1.5rem;
  color: #edf2f4;
  text-align: center;
  background-color: #2B2D42;
  padding: 1rem;
  width: auto;
  margin-top: 2rem;

}


#chev {
  width: 14rem;
  margin-bottom: 20px;
}

#vw {
  width: 10rem;
  margin-bottom: 15px;
}
#peug {
  width: 16rem;
  margin-bottom: 14px;
}

#fiat {
  width: 12rem;
  margin-bottom: 15px;
}

#fiat:hover {
  font-size: 2rem;
  background-color: #edf2f4;
  border-radius: 10%;
  
}
#vw:hover{
  font-size: 2rem;
  background-color: #edf2f4;
  border-radius: 10%;
  
}

#peug:hover{
  font-size: 2rem;
  background-color: #edf2f4;
  border-radius: 70%;
}
#chev:hover{
  font-size: 2rem;
  background-color: #edf2f4;
 border-radius: 60%;
}

/*Footer*/


.pie-de-pagina {
  box-sizing: border-box;
  width: 100%;
  background-color: #2B2D42;
}
.pie-de-pagina h3{
  text-align: center;
  color: #edf2f4;
  font-size: 3rem;
}
.pie-de-pagina h3:hover {
  background-color: #edf2f4;
  color: #2B2D42;
}

.box{
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

#img-footer {
  width: 150px;
}

.red-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  
}

.red-social ul li{
  text-align: justify;
  font-size: 1.2rem;
  color: #edf2f4;
  list-style-type: none;

}
.red-social ul li i {
  font-size: 1.8rem;
}




.box1 {
  margin-top: 0;
  color: #D90429;
  text-align: center;
  font-size: 1rem;
}

