* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Times New Roman", Times, serif;
}

:root {
  --blue: #0b132bb0;
  --light-blue: #1C2541;
  --grey: #3A506B;
 --light-green: #6FFFE9;
  --green: #5BC0BE;
  --white: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-image: url(./fondo.jpg);
  background-repeat: unset;
}


.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 90px 0px;
  width: 95%;
  max-width: 1900px;
}


header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
  top: 20px;
}

.header-container {
position: sticky; opacity: 80%;
top: 1px; 
}


/* logo-container*/
.logo-container {
  height: 100px;
  display: flex;
  align-items: center;
}

.logo-container img{
  height: 100%;
}

/* navbar */

.navbar {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  color: var(--bordo);
  border: 0px;
  margin: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  list-style-type: none;
  
}


li {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.navbar ul li a:hover {
  background-color: var(--light-green);
  color: var(--blue);
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  text-decoration: underline coral;;
}

.list {
  text-decoration: none;
  color: whitesmoke;
  text-decoration: underline coral;
}

/*    section-container   */

.section-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  background-color: var(--blue);
}

.section-title {
  font-weight: 600px;
  font-size: 25px;
  line-height: 45px; 
  color: whitesmoke;
  margin-top: 40px;
  text-decoration: underline coral;
}


.description-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  max-width: 1500px;
}

#inicio {
  justify-content: space-around;
}

.text-container {
  text-align: center;
  color: var(--white);
  width: 550px;
  height: 80%;
  font-size: x-large;
}

.section-img {
  display: flex;
  flex-direction: column;
}
.inicio-img {
  background-image: url(./IMG\ Article.jpg);
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 715px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.inicio-img2 {
  background-image: url(./img\ Article\ 2.jpg);
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 715px;
  border-radius: 5px;
}

.button {
  margin-top: 40px;
}

.button #bt1 #button-section{
  color: var(--white);
  border: 0px solid black;
  outline: none;
  width: 230px;
  height: 40px;
  font-size: 25px;
  cursor: pointer; 
  text-align: center;
  text-decoration: underline coral;
}

.button li:hover {
  background-color: var(--green);
  border-radius: 25%;
  text-align: center;
}


/* descrition-section*/

/*
.descrition-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0;
  background-color: #415a77;
  width: auto;
  padding: 0rem 2rem;
  margin: 3rem 5rem;
  border: 2rem 5rem;
}

.cards__container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  max-width: 80%;
}

/* carts*/
/*
.carts {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1.5rem 2rem; 
  background-color: #2b2d42;
  border-radius: 20%;
}

.carts p {
  display: flex;
  font-size: 1.5rem;
  color: #2b2d42;
  text-align: center;
  padding: 1rem;
  width: auto;
  margin-top: 2rem;
  background-color: #415a77;
}

#chev {
  width: 14rem;

}

#vw {
  width: 10rem;
 
}
#peug {
  width: 16rem;
 
}

#fiat {
  width: 12rem;

}

#fiat:hover {
  font-size: 2rem;
  background-color: #edf2f4;
  border-radius: 10%;
}
#vw:hover {
  font-size: 2rem;
  background-color: #edf2f4;
  border-radius: 10%;
}

#peug:hover {
  font-size: 2rem;
  background-color: #edf2f4;
  border-radius: 70%;
}
#chev:hover {
  font-size: 2rem;
  background-color: #edf2f4;
  border-radius: 60%;
}

/*Footer*/

/*
.pie-de-pagina {
  box-sizing: border-box;
  width: 100%;
  background-color: #2b2d42;
}
.pie-de-pagina h3 {
  text-align: center;
  color: #edf2f4;
  font-size: 3rem;
}
.pie-de-pagina h3:hover {
  background-color: #edf2f4;
  color: #2b2d42;
}

.box {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

#img-footer {
  width: 150px;
}

.red-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.red-social ul li {
  text-align: justify;
  font-size: 1.2rem;
  color: #edf2f4;
  list-style-type: none;
}
.red-social ul li i {
  font-size: 1.8rem;
}

.box1 {
  margin-top: 0;
  color: #d90429;
  text-align: center;
  font-size: 1rem;
}
